/* App.css */
.App {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  transition: top 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}

.social-icon {
  font-size: 25px;
  margin-right: 10px;
}

.left {
  display: flex;
}

.right {
  display: flex;
}

section {
  padding: 20px;
  margin-top: 50px;
}

#landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.section-content {
  display: flex;
  margin-left: 35%;
}

.img-name {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
}

.landing-container p {
  font-size: 3rem;
  font-weight: bolder;
}

.projects-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.project-card {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  width: 25rem;
}

.project-card a {
  text-decoration: none;
  color: black;
}

.image1-class {
  height: 200px;
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

input,
textarea,
select { 
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}
